@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    background-color: black;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

.bg {
    background-image: url("../public/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-shadow-sm {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.text-shadow-lg {
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(aria-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}
