@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

.bg {
    background-image: url("../public/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-shadow-sm {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.text-shadow-lg {
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}
